{% include "header.html" %}

{% load static %}

<!-- about section start -->
<div class='about_section layout_padding'>
   <div class='container'>
      <div class='row'>
         <div class='col-md-12'>
            <h1 class='about_taital'>About Us</h1>
            <h2>At Tiffin Service,We're More Than a Tiffin Service,We're a Family Commited To Bringing Your
               Home-Style Nuturious and Tasty Meals right To Your Door Step.We Belive That Everyone Deserves enjoy
               Whole Some,Home-Cooked Meals,No Matter How Busy Their Lives Maybe.</h2> </br>
            <h1 class='about_taital'>Our Mission</h1>
            <h2>Our Mission Is To Provide A Taste Of Home with Every Bite.We Belive That EveryOne Deserves To
               Enjoy A Healthy,Fresh,Home-Cooked Meal,No Matter How Busy Their Schedule is.</h2> </br>
            <h1 class='about_taital'>Join Our Family</h1>
            <h2>We Invite You To Join Our Family And Experrience The Ressurance Of Home-cooked Meals Without The
               Hassel Of Cooking </h2> </br>
         </div>
         <div class='about_section_2 layout_padding'>


         </div>
      </div>
   </div>
   <!-- about section end -->
   <!-- footer section start -->
   <!-- <div class='footer_section layout_padding'>
         <div class='container'>
            <div class='row'>
               <div class='col-md-12'>
                  <!-- <h1 class='address_text'>Address</h1>
                  <p class='footer_text'>here, content here', making it look like readable English. Many desktop
                     publishing packages and web page editors now use </p> -->
   <div class='location_text'>
      <!-- <span class='padding_left_15' style='font-size: xx-large; align-items: center;'>Thank You For Choosing Us :) -->
   </div>
</div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class='copyright_section'>
   <div class='container'>
      <div class='row'>

         <div class='col-lg-6 col-sm-12'>
            <div class='footer_social_icon'>
               <!-- <ul>
                        <li><a href='#'><i class='fa fa-facebook' aria-hidden='true'></i></a></li>
                        <li><a href='#'><i class='fa fa-twitter' aria-hidden='true'></i></a></li>
                        <li><a href='#'><i class='fa fa-linkedin' aria-hidden='true'></i></a></li>
                        <li><a href='#'><i class='fa fa-instagram' aria-hidden='true'></i></a></li>
                     </ul> -->
            </div>
         </div>
      </div>
   </div>
</div>

{% include "footer.html" %}