<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Email</title>
</head>
<body>
    <div>
        <p>Hello {{ name }},</p>
        <p>Your One Time Password (OTP) is:</p>
        <h2>{{ otp }}</h2>
        <p>Please use this OTP to proceed with your request.</p>
        <!-- You can customize the content and formatting as needed -->
    </div>
</body>
</html>
