{% include "header.html" %}
{% load static %}

<head>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap"
        rel="stylesheet">
    <link href="{% static "CSS [Other]/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static " CSS [Other]/fontawesome-all.min.css" %}" rel="stylesheet">
    <link href="{% static " CSS [Other]/swiper.css" %}" rel="stylesheet">
    <link href="{% static " CSS [Main]/terms.css" %}" rel="stylesheet">

</head>

<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="text-box mt-5 mb-5">
                    <p style="text-align: center; font-weight: 800; font-size: xx-large;">Terms &
                        Conditions</p>
                </div>
                <!-- end of text-box -->

                <h2 class="mb-3">#DELIVERY POLICIES</h2>
                <p>1.SATGURU TIFFIN SERVICE will take responsibility of broken food packages and will provide 1
                    extended day in customer’s subscription, but unfortunately, it can not be assured that the
                    food would again be delivered on the same day in such conditions, so please cooperate and
                    support in such circumstances. </p>
                <p class="mb-5">2. Moreover, our dear customers will be provided with time windows rather than
                    any fixed time because it mostly depends on the daily changing routes, so please be
                    delightful in this thing too.</p><hr>

                <h2 class="mb-3">#FOOD POLICY </h2>
                <p>1.The food delivered by Satguru tiffin service is best in many ways, like taste, texture, and
                    shape, but still if consumers have any complaints regarding food, then they can complain
                    through our complaint form( can be provided at any social handle ) and consumer’s problem
                    will be resolved as soon as possible.</p>
                <p class="mb-4">2. The food should not be placed as it is in packaging, rather than please store
                    it in utensils in the refrigerator after some time, which will provide it from being
                    spoiled. If consumers still gets some difficulty then don’t hesitate to contact and ask for
                    it. </p><hr>


                <h2 class="mb-3">#REFUND POLICY. </h2>
                <p class="mb-5">1.The trial, monthly and weekly subscriptions have no refund in any condition;
                    either if the consumer may be unhappy with food taste (which is nearly impossible) or if the
                    consumer may be unhappy with some sort of service ( which is also not possible though), but
                    if the consumer doesn’t get the food then we will refund the whole amount to the consumer in
                    the same medium of the payment as a consumer would have done.</p><hr>


                <h2 class="mb-3">#CUSTOMER SERVICE POLICIES </h2>
                <p class="mb-4">1. Fortunately, if any consumer wants to pause the service for a few days then
                    they can remind us by a message before and after the pause, and their service will be paused
                    and extra days will be added, so don’t worry about traveling within your service days. </p>
                <p class="mb-5 ">2. If any consumer gets any query then please render contacting us, we try to
                    answer it immediately or you will get answers within 12 hours on any platform. I.e; +91
                    7016126254 (contact number) , +91 7016126254 (WhatsApp). 3. If the customer is not satisfied
                    with the customer-service officer then the customer can request for head officer contact or
                    they can complain through the complaint form and regarding any refund, please have
                    confirmation from representative and wait for at least 4 Weeks to get it processed.</p>
                </p><hr>



            
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of ex-basic-1 -->
<!-- end of basic -->

{% include "footer.html" %}

</html>